// Bundle Version
APP_VERSION = 1.00.00
BUILD_NUMBER = 1

// Bundle Identifier
RELEASE_IDENTIFIER              = com.cudo.onerow.player
STAGE_IDENTIFIER                = $(RELEASE_IDENTIFIER)
DEVELOPMENT_IDENTIFIER          = $(RELEASE_IDENTIFIER)

RELEASE_IDENTIFIER_PREFIX       = T7JJUZE2YE
STAGE_IDENTIFIER_PREFIX         = $(RELEASE_IDENTIFIER_PREFIX)
DEVELOPMENT_IDENTIFIER_PREFIX   = $(RELEASE_IDENTIFIER_PREFIX)

// Bundle Display Name
RELEASE_BUNDLE_DISPLAYNAME      = Player
STAGE_BUNDLE_DISPLAYNAME        = Player(STG)
DEVELOPMENT_BUNDLE_DISPLAYNAME  = Player(DEV)

// BUILD DEFINITION
RELEASE_BUILD_DEFINITION        = BUILD_FOR_RELEASE
STAGE_BUILD_DEFINITION          = BUILD_FOR_STAGE
DEVELOPMENT_BUILD_DEFINITION    = BUILD_FOR_DEVELOPMENT
