#include "Base.xcconfig"

APP_IDENTIFIER                  = $(DEVELOPMENT_IDENTIFIER)
APP_IDENTIFIER_PREFIX           = $(DEVELOPMENT_IDENTIFIER_PREFIX)
APP_BUNDLE_DISPLAYNAME          = $(DEVELOPMENT_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(DEVELOPMENT_BUILD_DEFINITION)

DEVELOPMENT_TEAM                = $(DEVELOPMENT_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) DEBUG $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -DDEBUG -D$(APP_BUILD_DEFINITION)
