#include "Base.xcconfig"

APP_IDENTIFIER                  = $(RELEASE_IDENTIFIER)
APP_IDENTIFIER_PREFIX           = $(RELEASE_IDENTIFIER_PREFIX)
APP_BUNDLE_DISPLAYNAME          = $(RELEASE_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(RELEASE_BUILD_DEFINITION)

DEVELOPMENT_TEAM                = $(RELEASE_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -D$(APP_BUILD_DEFINITION)
