#include "Base.xcconfig"

APP_IDENTIFIER                  = $(STAGE_IDENTIFIER)
APP_IDENTIFIER_PREFIX           = $(STAGE_IDENTIFIER_PREFIX)
APP_BUNDLE_DISPLAYNAME          = $(STAGE_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(STAGE_BUILD_DEFINITION)

DEVELOPMENT_TEAM                = $(STAGE_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -D$(APP_BUILD_DEFINITION)
